# Virtual environments
venv/
env/
.venv/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Python cache and compiled files
__pycache__/
*.pyc
*.pyo
*.pyd

# OS files
.DS_Store
Thumbs.db

# IDE / Editor files
.vscode/
.idea/

btcsales.csv
!chocolate_sales.csv

# Logs / temporary
*.log
*.tmp